<!doctype html>
<html lang="it">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

		<link rel="stylesheet" href="/stylesheets/main.css">

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		
		<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
		crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

		<title>client_2</title>

		<style type="text/css">
			.navbar-custom {
				background-color: #4286f4;
			}

			/* change the brand and text color */
			.navbar-custom .navbar-brand,
			.navbar-custom .navbar-text {
				color: rgba(255,255,255,.8);
			}

			/* change the link color */
			.navbar-custom .navbar-nav .nav-link {
				color: rgba(255,255,255,.5);
			}

			/* change the color of active or hovered links */
			.navbar-custom .nav-item.active .nav-link,
			.navbar-custom .nav-item:hover .nav-link {
				color: #ffffff;
			}

			/* for dropdown only - change the color of droodown */
			.navbar-custom .dropdown-menu {
				background-color: #ff5500;
			}
			.navbar-custom .dropdown-item {
				color: #ffffff;
			}
			.navbar-custom .dropdown-item:hover,
			.navbar-custom .dropdown-item:focus {
				color: #333333;
				background-color: rgba(255,255,255,.5);
			}
		</style>

	</head>
	<body>

		<!-- https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->

		<nav class="navbar navbar-expand-lg navbar-custom">
			<a class="navbar-brand" href="#">client_2</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/private/dashboard">Dashboard<span class="sr-only">(current)</span></a>
					</li>
					<!--<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>-->
				</ul>

				<ul class="navbar-nav ml-auto">

					{{#if logged_in}}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Opzioni
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/logout">Logout</a>
						</div>
					</li>
					{{/if}}
				</ul>
			</div>
		</nav>

		{{#if success_msg}}
			<div class="alert alert-success alert-dismissible fade show">
				{{success_msg}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{{/if}}

		{{#if error_msg}}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{{error_msg}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{{/if}}

		{{#if error}}
			<div class="alert alert-danger alert-dismissible fade show">
				{{error}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{{/if}}

		{{{body}}}

		
	</body>
</html>