<div class="container-fluid">

	<div class="row justify-content-md-center">
		<div class="col col-lg-4">
			<div class="cardboard">

				<h2 class="red-text text-center" style="color: red">ERRORE</h2>
				<br>
				<p class="text-justify">{{err_mess}}</p>
			</div>
		</div>
	</div>
</div>